body {
  background: rgb(190, 180, 210);
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}

.main {
    text-align: center;
}

.operation {
    text-align: right;
    margin: 10px;
}

.container {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.container>table {
    text-align: center;
}

.th {
    text-align: center;
    vertical-align: center;
}

.td {
    text-align: center;
    vertical-align: center;
}